h1, h2, h3 {
    text-align: center;
    background-color: yellow;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 25px;
}

 #food{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aqua; 
    
    border: 4px;
    margin: 20px;
    width: 150px;
    height: 50px;
    justify-content: center;
}

p, ol, ul {
    
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    text-align: center;
}

body{
    background-color: aquamarine;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

#home{
    display: flex;
    padding: auto;
    color: aliceblue;
    
    
    
   

}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: yellow;
    padding: 0 20px;
    
}
.header h1{
    margin:auto;
}

img {
    display: block;
    margin: auto;
    margin-top: 20px;
}

.instructions-ingredients{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}   

#ingredients, #steps{
    width: 50%;
}